<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icicle.masterdb.dao.masterdb.BusinessUnitMapper">
  <resultMap id="BaseResultMap" type="com.icicle.masterdb.model.BusinessUnit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="bu_id" jdbcType="INTEGER" property="buId" />
    <result column="bu_name" jdbcType="VARCHAR" property="buName" />
    <result column="bu_desc" jdbcType="VARCHAR" property="buDesc" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_update_date" jdbcType="TIMESTAMP" property="lastUpdateDate" />
  </resultMap>

  <insert id="saveBusinessUnit" keyProperty="buId" useGeneratedKeys="true">
    INSERT INTO business_unit
    ( bu_name, bu_desc, status, created_by, creation_date)
    VALUES
    ( #{buName}, #{buDesc}, #{status}, #{createdBy}, #{creationDate});
  </insert>
</mapper>