<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icicle.masterdb.dao.masterdb.StoreGroupAttribMapper">
  <resultMap id="BaseResultMap" type="com.icicle.masterdb.model.StoreGroupAttrib">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="store_attrib_group_id" jdbcType="INTEGER" property="storeAttribGroupId" />
    <result column="store_attrib_def_id" jdbcType="INTEGER" property="storeAttribDefId" />
  </resultMap>

  <update id="updateStatus" parameterType="java.util.List">
      <foreach collection="param1" item="item" separator=";">
            UPDATE store_group_attrib set status = #{param2}
          WHERE
          store_attrib_group_id = #{item.storeAttribGroupId}
          AND store_attrib_def_id = #{item.storeAttribDefId}
      </foreach>
  </update>

</mapper>