<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icicle.masterdb.dao.masterdb.ViewMaterialAttributeMapper">
    <resultMap id="BaseResultMap" type="com.icicle.masterdb.model.ViewMaterialAttribute">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="material_code" jdbcType="VARCHAR" property="materialCode"/>
        <result column="attr_code" jdbcType="CHAR" property="attrCode"/>
        <result column="atr_value" jdbcType="NVARCHAR" property="atrValue"/>
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="is_edit" jdbcType="INTEGER" property="isEdit"/>
        <result column="attr_name" jdbcType="NVARCHAR" property="attrName"/>
        <result column="has_item" jdbcType="BIT" property="hasItem"/>
        <result column="item_source" jdbcType="VARCHAR" property="itemSource"/>
    </resultMap>
    <resultMap id="MaterialValueVO" type="com.icicle.masterdb.pojo.vo.MaterialAttributeVO">
        <result column="attr_code" jdbcType="CHAR" property="attrCode"/>
        <result column="atr_value" jdbcType="NVARCHAR" property="atrValue"/>
    </resultMap>

    <select id="findAttributeByCode" resultMap="BaseResultMap">
        SELECT
	   ma.material_code,
	   ta.attr_code,
	   ta.attr_name,
	   ta.item_source,
	   ta.has_item,
	   ta.is_edit
	   FROM dbo.material ma
	   INNER JOIN dbo.attribute_define ta ON  ta.catalog_type = ma.catalog_type
	   WHERE ma.material_code = #{materialCode} AND ta.attr_name &gt; '' AND ta.attr_name IS NOT NULL
    </select>
    <select id="findAttributeValueByCode" resultMap="MaterialValueVO">
        SELECT id,attr_code,atr_value FROM material_attribute where material_code = #{materialCode}
        <if test="list != null and list.size != 0">
            and attr_code IN
            <foreach collection="list" item="item" open="(" close=")" separator=",">
                #{item.attrCode}
            </foreach>
        </if>
    </select>
</mapper>