<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icicle.masterdb.dao.masterdb.ViewRespListMapper">
  <resultMap id="BaseResultMap" type="com.icicle.masterdb.model.ViewRespList">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="respcenter_id" jdbcType="VARCHAR" property="respcenterId" />
    <result column="lan_name" jdbcType="VARCHAR" property="lanName" />
    <result column="source_id" jdbcType="VARCHAR" property="sourceId" />
    <result column="respcenter_name" jdbcType="NVARCHAR" property="respcenterName" />
    <result column="respcenter_manager" jdbcType="VARCHAR" property="respcenterManager" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="respcenter_desc" jdbcType="NVARCHAR" property="respcenterDesc" />
    <result column="effective_date" jdbcType="TIMESTAMP" property="effectiveDate" />
  </resultMap>
</mapper>